FORMAT: 1A9
HOST: https://paper-scroll.ru/api/

# paper-scroll

Здесь представлен список доступных секций и методов API игры [Paper Scroll](https://vk.com/app7420483).

Любые вопросы о работе API вы можете задать в нашем [сообществе ВКонтакте](https://vk.com/paper_scroll) или [специальной беседе](https://vk.me/join/AJQ1d4PhyRd9VqY5MOofYEWD).

Для отправки запросов вам необходимо создать магазин внутри приложения и получить к нему ключ доступа по ссылке [vk.com/app7420483#create_merchant](https://vk.com/app7420483#create_merchant)

### Limitations

С использованием одного ключа доступа можно отправить не больше 3 запросов в секунду. 

Также для каждого IP адреса имеется лимит на 10 запросов в секунду.

### Errors handling

Ошибки API всегда возвращаются с HTTP кодом 400 Bad Request и имеют общий формат:

```
{
    "error": {
        "error_code": 1,
        "error_msg": "Internal error",
        "error_text": "Внутренняя ошибка сервиса, повторите запрос позже"
    }
}
```

Основной список ошибок, возвращаемых для всех методов:

- **#1 - Internal error** (Внутренняя ошибка сервиса)
- **#2 - Authorize error** (Неверно передан ключ доступа)
- **#3 - Access error** (Ошибка доступа к секции/методу)
- **#4 - Flood limit** (Превышен лимит на частоту обращений)
- **#5 - Unknown method** (Не определена секция/метод API)
- **#6 - Invalid params** <br/> (Неверно переданы параметры к запросу.<br/>Возвращается, если для метода не опредлены собственные типы ошибок.)

Также в ходе выполнения могут произойти специальные ошибки, уникальные для каждого запрашиваемого метода.


# Merchants [/merchants.get]

## /merchants.get [GET]

Возвращает информацию о магазинах по их идентификаторам

+ Request (application/json)
    + Attributes

        + merchant_ids (array[number], optional) 
            ID магазинов, не больше 100 элементов. <br/>
            По умолчанию — идентификатор текущего магазина.
        
    + Body

            {
                "merchant_ids": [1]
            }
            
+ Response 200 (application/json)
    + Attributes (object)
        + response (array[Merchant]) - Список запрошенных магазинов

## /merchants.edit [POST]

Редактирует информацию о текущем магазине

+ Request (application/json)
    + Attributes
            
        + name (string, optional) 
            Новое название магазина
            
        + group_id (number, optional) 
            ID сообщества ВКонтакте, к которому будет привязан магазин
            
        + avatar (string, optional) 
            Ссылка на новое изображение магазина <br/>
            Должно быть загружено на сервер ВКонтакте и иметь адрес формата `https://pp.userapi.com/******.jpg`
        
    + Body

            {
                "name": "Мой магазин",
                "avatar": "https://pp.userapi.com/aYxZDDg1UmaxPa_hFL-eCWlGO3oDuJou4z6ZIg/Z6AEvIhxwjI.jpg"
            }
            
+ Response 200 (application/json)
    + Attributes (object)
        + response: true (boolean) - Статус выполнения запроса
        
    + Body

            {
                "response": true
            }

# Users [/users.get]

## /users.get [GET]

Возвращает информацию о пользователях по их идентификаторам

+ Request (application/json)
    + Attributes

        + user_ids (array[number], optional) 
            ID пользователей, не больше 100 элементов
        
    + Body

            {
                "user_ids": [1]
            }
            
+ Response 200 (application/json)
    + Attributes (object)
        + response (array[User]) - Список запрошенных профилей пользователей

## /users.getBalances [GET]

Возвращает информацию о балансах пользователей по их идентификаторам

+ Request (application/json)
    + Attributes

        + user_ids (array[number], optional) 
            ID пользователей, не больше 250 элементов
        
    + Body

            {
                "user_ids": [595626484]
            }
            
+ Response 200 (application/json)
    + Attributes (object)
        + response (array[UserBalance])
        
            Список запрошенных балансов пользователей. <br/>
            Если профиль пользователя ещё не был создан в профиле, то объекта с его данными в массиве не будет.


# Transfers [/transfers]

## /transfers.create [POST]

Запускает выполнение нового перевода

+ Request (application/json)
    + Attributes

        + user_ids (array[number], optional) 
            ID пользователей, не больше 100 элементов.
        
    + Body

            {
                "user_ids": [1]
            }
            
+ Response 200 (application/json)
    + Attributes (object)
        + response (array[User]) - Список запрошенных профилей пользователей

# Data Structures

## User (object)
+ user_id: 595626484 (number, required) 
    ID пользователя
    
+ first_name, last_name: `Pi Emerollo` (string, required) 
    Имя и Фамилия пользователя
    
+ avatar, avatar_max: `https://pp.userapi.com/...` (string, required)
    Фотографии из профиля пользователя
    
+ balance: 100000 (number, required)
    Баланс пользователя в тыс. долях рулонов
    
+ improvements_sum: 1000 (number, required)
    Сумма улучшений в тыс. долях рулонов
    
+ bonuses_sum: 250 (number, required) 
    Сумма бонусов в тыс. долях


## Merchant (object)
+ merchant_id: `1`, `2`, `3` (number, required)
    ID магазина
    
+ owner_id: 595626484 (number, required)
    ID владельца магазина
    
+ group_id: 194441652 (number, required)
    ID сообщества ВКонтакте, к которому будет привязан магазин
    
+ name: `Мой магазин` (string, required)
    Название магазина
    
+ avatar: `https://pp.userapi.com/...` (string, required)
    Изображение магазина
    
+ balance: 250000 (number, required)
    Баланс магазина в тыс. долях рулонов
    
+ create_date: 1590134400 (number, required)
    Дата создания магазина

## Transfer (object)
+ transfer_id: 37356 (number, required)
    ID перевода
+ user_id: 595626484 (number, required)
    ID инициатора перевода
+ peer_id: 100772411 (number, required)
    ID получателя перевода
+ external_id: 37357 (number, required)
    ID перевода для получателя
+ is_initiator: true (boolean, required)
    Является ли текущий пользователь инициатором

+ type (enum[string])
    Тип перевода

    + Default: `transfer`
    + Members
        + `merchant` - Перевод от/для магазина
        + `transfer` - Стандартный перевод между пользователями (user-only)
        + `steal` - Кража другим пользователем (user-only)
        + `loss` - Потеря от заражения (user-only)
        + `achievement` - Бонус за полученное достижение (user-only)

+ object_type (enum[string])
    Тип переводимых предметов

    + Default: `balance`
    + Members
        + `balance` - Рулоны
        + `disinfectants` - Средства защиты
        + `items` - Предметы из инвентаря

+ object_type_id: 1 (number) 
    При **object_type** = **disinfectants** или **items** содержит ID предмета <br/>
    При **object_type** = **balance** всегда имеет значение `0`

+ amount: 1000 (number) 

    Переводимая сумма в тыс. долях при **object_type** = **balance** <br/>
    В остальных случаях - количество переводимых предметов
    
## UserBalance (object)
+ user_id: 595626484 (number, required)
    ID пользователя
+ balance: 100000 (number, required)
    Баланс пользователя в тыс. долях рулонов
    
## Error (object)
+ error_code: 1 (string, required)
    Код ошибки
+ error_msg: `Example error` (string, required)
    Название типа ошибки
+ error_text: `Error message example` (string, required)
    Подробное описание проблемы